.col-1{
    height: 80px;
    width: 140px;
}
.skills-name{
    width: 160px;
}
.tank{
    background-color: rgba(10, 40, 180, 0.55);
}
.healer{
    background-color: rgba(10, 180, 40, 0.55);
}
.dps{
    background-color: rgba(180, 40, 10, 0.55);
}
textarea {
    font-size: 16px;
    resize: none;
}
/* Default Light Mode */
body.light-mode {
    background-color: #ffffff;
    color: #000000;
}

body.light-mode .border {
    border-color: #dee2e6;
}

body.light-mode .btn-secondary {
    background-color: #6c757d;
    color: #ffffff;
}

/* Dark Mode */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

body.dark-mode .border {
    border-color: #444444;
}

body.dark-mode .btn-secondary {
    background-color: #444444;
    color: #ffffff;
}
